[Unit]
Description=VK Dating Bot ArturRU
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/var/www/vk-bot-arturru
ExecStart=/usr/bin/npm start
Restart=on-failure
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=vkbot-arturru
EnvironmentFile=/var/www/vk-bot-arturru/.env

[Install]
WantedBy=multi-user.target
